.Post__details {
  margin: 0 auto 1.2rem;
}

.Post__title {
  margin: 0 auto;
}

.Post__navlinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

/** Custom post styles */

/**
body.author--Dave {
  background: black;
  color: white;
}
*/