.SiteLogo {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
}

.SiteLogo__title {
  font-size: 3rem;
  text-align: center;
  font-family: "Georgia", "serif";
  /** desktop */
  @media screen and (min-width: 768px) {
    font-size: 5rem;
  }
  span {
    display: grid;
    justify-content: center;
    align-content: center;
  }
}

.SiteLogo__description {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  /** desktop */
  @media screen and (min-width: 768px) {
    font-size: 1.3rem;
  }
  div {
    margin: 1rem 0;
  }
}

.SiteLogo__dongle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.SiteLogo__threadIcon {
  width: 40px;
  display: inline-block;
  margin: 1.5rem 0;
}
