.SiteLogo {
  /* background: rgb(201, 0, 0); */
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
}

.SiteLogo__title {
  font-size: 3rem;
  text-align: center;
  font-family: "Georgia", "serif";
}

.SiteLogo__title span {
  display: grid;
  justify-content: center;
  align-content: center;
}

.SiteLogo__description {
  text-align: center;
  font-style: italic;
}

.SiteLogo__description div {
  margin: 1rem 0;
}

.SiteLogo__dongle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.SiteLogo__threadIcon {
  width: 40px;
  display: inline-block;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .SiteLogo__title {
    font-size: 5rem;
  }

  .SiteLogo__description {
    font-size: 1.2rem;
  }
}
